name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo npm i -g -y wasm-pack
        rustup toolchain install nightly-2023-03-28-x86_64-unknown-linux-gnu
        rustup component add rust-src --toolchain nightly-2023-03-28-x86_64-unknown-linux-gnu
    - name: Build
      run: make pack
    - name: Run tests
      run: cargo test --verbose
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: npm_packages
        path: |
          js/*.tgz
          pkg/*.tgz
          pkg_multicore/*.tgz
